<div class="consent-section__banner">
    <div class="consent-section__banner__left">
        <div class="consent-section__banner__left__logo"></div>
        <div class="consent-section__banner__left__title"></div>
        <div class="consent-section__banner__left__message"></div>
        <div class="consent-section__banner__left__message_down">
            <a class="consent-section__banner__left__message_down__link--reset link--reset" id="politique" tabindex="3"></a>
            <a class="consent-section__banner__left__message_down__link--reset link--reset" id="partenaires" tabindex="4"></a>
        </div>
    </div>

    <div class="consent-section__banner__right">
        <div class="consent-section__banner__right__title skipfocus" id="vospreferences" tabindex="-1"></div>
        <div class="consent-section__banner__right__controls-container">
            <input class="consent-section__banner__right__controls-container__button consent-section__banner__controls-container__button--ok" id="buttonOk" tabindex="0" type="button" />
            <input class="consent-section__banner__right__controls-container__button consent-section__banner__controls-container__button--refuser" id="buttonRefuser" tabindex="1" type="button" />
            <input class="consent-section__banner__right__controls-container__button consent-section__banner__controls-container__button--parameter" id="buttonParameter" tabindex="2" type="button" />
        </div>
    </div>
</div>
