<div class="consent-section__page">
    <button class="consent-section__page__back-button" id="backButton" tabindex="-1" />
    <h1 class="consent-section__page__title" id="headerTitle"></h1>
    <div class="consent-section__page__title_dx skipfocus" id="vospreferences" tabindex="0"></div>

    <div class="consent-section__page__contain">
        <div class="consent-section__page__contain__headertext" id="headerText"></div>
        <div class="consent-section__page__contain__buttons-container-all">
            <button class="consent-section__page__contain__buttons-container-all__button all" id="confirmButtonAll" tabindex="1" name="Oui" /><button class="consent-section__page__contain__buttons-container-all__button all" id="refuserButtonAll" tabindex="2" name="Non" />
        </div>

        <div class="consent-section__page__contain__text"></div>

        <div class="consent-section__page__contain__buttons-container--centered">
            <button class="consent-section__page__contain__buttons-container--centered__button" id="confirmButton" tabindex="9" name="Valider" />
        </div>

        <div class="consent-section__page__contain__message_down">
            <a class="consent-section__page__contain__message_down__link--reset" id="politique" tabindex="10" name="rowbutton" ></a>
            <a class="consent-section__page__contain__message_down__link--reset" id="partenaires" tabindex="11" name="rowbutton"></a>
        </div>
    </div>
</div>