<div class="consent-section__page">
    <button class="consent-section__page__back-button" id="backButton" tabindex="0" />
    <h1 class="consent-section__page__title"></h1>
    <div class="consent-section__page__contain">
        <div class="consent-section__page__contain__partenaires--txt"></div>
        <div class="consent-section__page__contain__partenaires--body" id="partenairesText" tabindex="1">
            <div class="consent-section__page__contain__partenaires__partners">

            </div>
        </div>

        <div class="consent-section__page__contain__message_down">
            <a class="consent-section__page__contain__message_down__link--partner" id="politique" tabindex="2"></a>
        </div>

    </div>
</div>